<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.agriculture.dao.OrderDao">
  <resultMap id="BaseResultMap" type="cn.agriculture.entity.Order">
      <result column="ORDER_ID" property="orderId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="USER_ID" property="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="PRODUCT_ID" property="productId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="TRADE_DATE" property="tradeDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="PAYMENT_AMOUNT" property="paymentAmount" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <result column="GWCOUNT" property="gwcount" javaType="java.lang.Integer" jdbcType="INTEGER" />
     <result column="out_trade_no" property="out_trade_no" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="tradeDateStr" property="tradeDateStr" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDER_ID, USER_ID, PRODUCT_ID, TRADE_DATE, PAYMENT_AMOUNT, GWCOUNT
  </sql>


  <insert id="insertOrder" parameterType="cn.agriculture.entity.Order">

    insert into product_order
    (   USER_ID,
        PRODUCT_ID,
        PAYMENT_AMOUNT,
        GWCOUNT,
        out_trade_no
    )
    values (
      #{userId},
      #{productId},
      #{paymentAmount},
      #{gwcount},
      #{out_trade_no}
    )

  </insert>

  <select id="getOrderListAll" resultMap="BaseResultMap" parameterType="cn.agriculture.entity.Order">

    select

    ORDER_ID ,
    USER_ID,
    PRODUCT_ID,
    TRADE_DATE,
    PAYMENT_AMOUNT,
    GWCOUNT,
    out_trade_no,
    TRADE_DATE as tradeDateStr

    from product_order  po

    <where>
      <if test="orderId!=null and orderId!=''">
        and po.ORDER_ID = #{orderId}
      </if>
      <if test="userId!=null and userId!=''">
        and po.USER_ID = #{userId}
      </if>
      <if test="out_trade_no!=null and out_trade_no!=''">
        and po.out_trade_no = #{out_trade_no}
      </if>
    </where>

  </select>



</mapper>